// Required
@import "../../../../../bootstrap/scss/functions";
@import "../../../../../bootstrap/scss/variables";

// Specify spacer sizes
$spacers: (
  0: 0,
  q: $spacer / 4,
  h: $spacer / 2,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5
);

// Required
@import "../../../../../bootstrap/scss/maps";
@import "../../../../../bootstrap/scss/mixins";
@import "../../../../../bootstrap/scss/root";

// Optional Bootstrap CSS
@import "../../../../../bootstrap/scss/reboot";
@import "../../../../../bootstrap/scss/type";
@import "../../../../../bootstrap/scss/images";
@import "../../../../../bootstrap/scss/containers";
@import "../../../../../bootstrap/scss/grid";
@import "../../../../../bootstrap/scss/tables";
@import "../../../../../bootstrap/scss/forms";
@import "../../../../../bootstrap/scss/buttons";
@import "../../../../../bootstrap/scss/transitions";
@import "../../../../../bootstrap/scss/dropdown";
@import "../../../../../bootstrap/scss/button-group";
@import "../../../../../bootstrap/scss/nav";
@import "../../../../../bootstrap/scss/navbar";
@import "../../../../../bootstrap/scss/card";
@import "../../../../../bootstrap/scss/accordion";
@import "../../../../../bootstrap/scss/breadcrumb";
@import "../../../../../bootstrap/scss/pagination";
@import "../../../../../bootstrap/scss/badge";
@import "../../../../../bootstrap/scss/alert";
@import "../../../../../bootstrap/scss/progress";
@import "../../../../../bootstrap/scss/list-group";
@import "../../../../../bootstrap/scss/close";
@import "../../../../../bootstrap/scss/toasts";
@import "../../../../../bootstrap/scss/modal";
@import "../../../../../bootstrap/scss/tooltip";
@import "../../../../../bootstrap/scss/popover";
@import "../../../../../bootstrap/scss/carousel";
@import "../../../../../bootstrap/scss/spinners";
@import "../../../../../bootstrap/scss/offcanvas";
@import "../../../../../bootstrap/scss/placeholders";

// Helpers
@import "../../../../../bootstrap/scss/helpers";

// Utilities
@import "../../../../../bootstrap/scss/utilities";

// Utilities API
@import "../../../../../bootstrap/scss/utilities/api";